@import url(../../global.css);

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    background-color: var(--black-color);
}

.container button {
    margin: 0;
}
